@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Uchen&display=swap');

* {
    margin: 0;
    font-weight: 600;
}

body {
    font-family: "uchen";
    background-color: #24243e; 
}

.card-container {
    margin-left: 500px;
    margin-right: 500px;
    padding-left: 50px;
    background-color: #302b63;
    border-radius: 20px;
    margin-top: 150px;
}

input {
    border: none;
    background-color: #302b63;
    border-bottom: 1px solid #0c0a1a;
    margin-left: 50px;
}

input:focus {
    outline: none;
}

/* elimina las flechas del input tipo número*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



#monto-texto {
    margin-left: 110px;
}

#nombre-texto {
    margin-left: 107px;
}

#calcular {
    margin-left: 97px;
    margin-top: 10px;
    border: none;
    padding: 8px 15px 8px 15px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #302b63;
    box-shadow: 2px 1px 1px 1px  rgb(24, 23, 23);
}

#calcular:hover {
    cursor: pointer;
    background-color: #474092;
    transition-delay: 0.09s;
}